// this file contain variables, mixins, functions, etc.

// fonts
font_muli = "Muli", arial;
font_avant = "AvantGardeGothicITCW01X", arial;
font_avant_medium = "AvantGardeGothicITCW01M 731087", arial;
font_avant_book = "AvantGardeGothicITCW01B 731069", arial;


// colors

  /*primary*/
tb_blue = #0099cb;
rich_blue = #003F5F;
  /*secondary*/
cream = #F1EEEB;
toasted_ash = #C5BCB4;
state_gray =  #5F6062;
  /*accent*/
crimson =  #C40D49;
gold =  #EAA430;

  /*Dev center colors*/
tb_medium_blue = #007BA3;
stone_blue = #045570;
astronaut_blue = #003f5f;
light_gray = #efece9;
medium_gray = #e0dedb;
dark_gray = #5f6062;
sandrift = #ad967d;

// effects
btn_icon_offset = 3px;
shadow = 0 0 10px rgba(0,0,0,0.3);
shadow-inset = inset 0 0 5px rgba(0,0,0,0.3);

// icons
ctaarrow_white_2x=url("/img/icons/ctaarrow_white@2x.png");
ctaarrow_blue_2x=url("/img/icons/ctaarrow-blue@2x.png");
ctaarrow_gray_2x=url("/img/icons/ctaarrow-gray@2x.png");
ctaarrow_gray_left_2x=url("/img/icons/ctaarrow-gray-left@2x.png");
ctaarrow_gray_up_2x=url("/img/icons/ctaarrow-gray-up@2x.png");
ctaarrow_gray_down_2x=url("/img/icons/ctaarrow-gray-down@2x.png");
ctaarrow_letter_white_2x=url("/img/icons/icon-contact-white@2x.png");
ctaarrow_letter_blue_2x=url("/img/icons/icon-contact@2x.png");
ctaarrow_play_blue_filled_2x=url("/img/icons/What-is-OpenTok-hover-play@2x.png");

icon_star_2x = url("/img/icons/icon-star@2x.png");
icon_check_mark_2x = url("/img/icons/body-icon-check_mark@2x.png");

icon_ref_doc_blue_2x = url("/img/icons/icon-ref_docs-blue@2x.png");
icon_guides_blue_2x = url("/img/icons/icon-guides-blue@2x.png");
icon_guides_gray_2x = url("/img/icons/icon-guides-gray@2x.png");
icon_components_blue_2x = url("/img/icons/icon-components-blue@2x.png");
icon_components_gray_2x = url("/img/icons/icon-components-gray@2x.png");
icon_starter_kits_blue_2x = url("/img/icons/icon-starter_kits-blue@2x.png");
icon_starter_kits_gray_2x = url("/img/icons/icon-starter_kits-gray@2x.png");

icon_screen_sharing_blue_2x = url("/img/icons/icon-screen-sharing@2x.png");
icon_voice_only_blue_2x = url("/img/icons/icon-voice-only@2x.png");
icon_debugging_blue_2x = url("/img/icons/icon-debugging@2x.png");

icon_service_kit_blue_2x = url("/img/icons/icon-service-kit@2x.png");
icon_schedule_kit_blue_2x = url("/img/icons/icon-schedule-kit@2x.png");
icon_presence_kit_blue_2x = url("/img/icons/icon-presence-kit@2x.png");
icon_hardware_setup_blue_2x = url("/img/icons/icon-hardware-setup@2x.png");
icon_layout_container_blue_2x = url("/img/icons/icon-layout-container@2x.png");

icon_cordova_integration_blue_2x = url("/img/icons/icon-cordova-integration@2x.png");

icon_pacman = url("/img/icons/pacman.png");
icon_search = url("/img/icons/icon-search.png");
//background files
dots_bg = url("/img/bg/dots.png");


