@import "shared_constants"

.tb-blue
  color tb_blue

.tb-white
  color white

h1
  font-family font_avant
  font-size 48px
  font-weight 200
  line-height 60px

h2
  font-family font_avant_book
  font-size 30px
  line-height 36px


h3
  font-family font_avant_medium
  font-size 20px
  line-height 26px

h4
  font-family font_avant_medium
  font-size 14px
  line-height 18px


p
  font-family font_muli
  font-size 16px
  line-height 24px
